/* CSS Document */
body{ background:#f9f9f9; }
.body_login{background:url(../images/defaultbg.gif) repeat;}
/*后台登录界面*/
.admin_login{ border-top:#ff6666 solid 3px; width:460px; height:320px; position:absolute; left:50%; top:50%; margin-left:-230px; margin-top:-160px; background:#f8f8f8; border-bottom-left-radius:10px;border-bottom-right-radius:10px; -webkit-box-shadow:1px 1px 3px rgba(162, 162, 162, .8); -moz-box-shadow:1px 1px 3px rgba(162, 162, 162, .8); box-shadow:1px 1px 3px rgba(162, 162, 162, .8);}
.admin_login_header{ text-align:center; padding:25px 0; border-bottom:#f1f1f1 solid 1px;}
.admin_login_form .form-horizontal .control-group > label{ float:left; width:130px;  font-size:14px; color:#666;}
.admin_login_form .form-horizontal .controls{ margin-left:140px;}
.admin_login_form .form-horizontal .input-xlarge{ width:250px;}
.admin_login fieldset{ padding:30px 0;}
.admin_login .form-actions{ border:0; background:none; padding-left:140px;}
.admin_login .checkbox ,.admin_login button{ float:left;}
.admin_login .checkbox{ width:110px; height:36px; line-height:36px; margin-left:10px; color:#666;}
.admin_login .checkbox input{ margin-top:12px;}
.admin_login button{ width:88px; height:36px; font-size:16px;}
/*后台登录界面结束*/

/*后台主界面*/
.admin_header{ border-bottom:#fa8f8f solid 3px; height:65px; background:url(../images/header_bg.png) repeat-x #fff;}
.admin_menu{ width:250px; background:#fff; position:relative; overflow:hidden; float:left;}
.admin_menu_on{ width:10px; padding:0;}
.admin_menu #Scroll{ float:left; width:240px;}
.admin_menu a.opens,.admin_menu_on a.closes{background: url(../images/left_menu_openClose.png) no-repeat 3px center #f5f5f5;  border-bottom:0; border-top:0; width:8px; display:block; float:left;height:auto; right:-11px; top:0; text-indent:-9999px; border-left:#e1e1e1 solid 1px; border-right:#f5f5f5 solid 1px;}
.admin_menu a.opens:hover,.admin_menu a.closes:hover{ background-color:#d6e1e4}
.admin_menu a.closes{background-position:right center; width:10px}
.admin_main{ background:#fff;}
.admin_container{  overflow:hidden;_zoom: 1;_float: left; background:#f5f5f5;}
.admin_main_header{ height:200px;}
.logo{ position:absolute; left:10px; top:15px;}
.login_info{ position:absolute; right:10px; top:24px;}

/*menu_list*/
dl,dt,dd,li,ul{ margin:0; padding:0; list-style:none;}
.menu_icon{ width:21px; height:21px; background-image: url(../images/menu_icon.png); background-repeat:no-repeat; display:inline-block; vertical-align:middle; margin:0 24px;}
.menu_home{ background-position:0 0;}
.menu_site{ background-position:0 -29px;}
.menu_user{ background-position:0 -58px;}
.menu_content{ background-position:0 -87px;}
.menu_tools{ background-position:0 -116px;}
.menu_out{ background-position:0 -146px;}

.menu_list dt{ color:#7a7a7a; height:40px; width:240px; font-size:14px; background-image:url(../images/menu_bg.png); background-position:0 -40px; background-repeat:repeat-x; line-height:40px; cursor:pointer;}
.menu_list dt a{color:#666;}
.menu_list dt:hover a{color:#fff;}
.menu_list dt:hover a:hover{ text-decoration:none;}
.menu_list dt:hover,.menu_list .active dt{ background-position:0 0;color:#fff; }
.menu_list dt:hover .menu_home,.menu_list .active dt .menu_home{ background-position:-22px 0;}
.menu_list dt:hover .menu_site,.menu_list .active dt .menu_site{ background-position:-22px -29px;}
.menu_list dt:hover .menu_user,.menu_list .active dt .menu_user{ background-position:-22px -58px;}
.menu_list dt:hover .menu_content,.menu_list .active dt .menu_content{ background-position:-22px -87px;}
.menu_list dt:hover .menu_tools,.menu_list .active dt .menu_tools{ background-position:-22px -116px;}
.menu_list dt:hover .menu_out,.menu_list .active dt .menu_out{ background-position:-22px -146px;}

.menu_list dd{color:#7a7a7a; display:none; background:#f8f8f8; border-bottom:#e7e7e7 solid 1px;}
.menu_list .active dd{ display:block; padding:10px 0 10px 50px; }
.menu_list dd ul li{ height:36px; line-height:36px;}
.menu_list dd ul li a{color:#666;}
.menu_list dd ul li.active a,.menu_list dd ul li:hover a{color:#39c;}
.menu_list dd ul li .arrow_icon{ background:url(../images/arrow.png) no-repeat; display:inline-block; width:5px; height:7px; margin-right:10px; vertical-align:middle;}
.menu_list dd ul li.active .arrow_icon,.menu_list dd ul li:hover .arrow_icon{ background:url(../images/arrow.png) 0 -7px no-repeat; }

/*admin_crumbs*/
.admin_crumbs{ height:30px; font-size:14px; line-height:30px;background:#f5f5f5; overflow:hidden; margin-right:10px; padding:4px 0;}
.admin_content{ border:#e1e1e1 solid 1px;  margin:0 10px 0 0;}

/*formbox*/
.formmain,.tablebox{ margin:15px;}
.formmain .nav-tabs{ margin-bottom:0;}
.formbox{ background:#fff; border:#e1e1e1 solid 1px; border-top:0; padding:50px 30px 20px 0px;}
.formbox .form-horizontal .control-group > label{ float:left; width:130px; font-size:14px;}
.formbox .form-horizontal .controls{ margin-left:160px;}
.formbox .form-actions{ background:none; border:none;}
.help-block{ color:#ccc;}
.formbox button{ width:88px; height:36px; font-size:14px;}
.tablebox_header{ padding:7px 15px 4px 15px; background:#f3f3f3; overflow:hidden; border-bottom:#e1e1e1 solid 1px;}
.tablebox_header a{ line-height:30px; font-size:12px;}
.tablebox_header .form-search,.tablebox_footer .form-inline{ margin-bottom:0;}
.tablebox_footer{ width:100%; border-top:#e1e1e1 solid 1px; padding-top:30px;}
.tablebox_footer .control-label{ float:left;}
.tablebox_footer .form-actions{ background:none; border:none;}
.pl30{ padding-left:30px;}
.formbox .alert{ margin-left:20px;}


.tablebox .table {border:#e1e1e1 solid 1px;}
.tablebox .table thead{ background:#f4f4f4;}
.pagination {
  height: 36px;
  margin: 18px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination li{ display:inline;}
.pagination a {
  float: left;
  padding: 0 14px;
  line-height: 34px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}.pagination a:hover, .pagination .active a {
  background-color: #f5f5f5;
}
.pagination .active a {
  color: #999999;
  cursor: default;
}
.pagination .disabled a, .pagination .disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination li:first-child a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.pagination-right {
  text-align: right;
}
/*站点属性界面*/
.sitebox{ padding:10px;}
.sitebox{ width:48%; min-height:200px; float:left; }
.siteinfo{ border:#e1e1e1 solid 1px; margin-bottom:10px; border-radius:5px;}
.siteinfo h3,.sitenew h3{ background:#f5f5f5; border-bottom:#e1e1e1 solid 1px; padding:5px 10px; font-size:14px; color:#444;}
.sitecontent{ padding:15px; color:#555;}
.sitenew{ border:#e1e1e1 solid 1px; overflow:hidden;  float:left; margin-left:0px; margin-top:10px; border-radius:5px; width: 49%;}